{% extends "master.html" %}
{% load static %}

{% if liste %}
  {% block title %}
  <h3> List of cursus students for {{cursus.name}}</h3>
  {% endblock %}

  {% block content %}
    <ul>
    {% for student in liste %}
      <div class="container">
        
        <div class="row">
          <div class="">
            <li>
              <a href="/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a>
            </li>
          </div>
          <div class="col-sm-10">
          </div>
        </div>
      </div>
    {% endfor %}
    </ul>
    <div class="container">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
  {% endblock %}
{% else %}
  <p> no student to show </p>
{% endif %}